@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    --primaryColor: #ffaa22;
    --secondaryColor: #2c2c2c;
    --primaryBackground: #f2f2f2;
    --secondaryBackground: #fdc752;
    --thirdBackgroundColor: #6e4b00;
    --thirdColor: #116800;
    --linkColor: rgb(61, 28, 0);
    --liSpacing: 2em;
}

body{
    background: var(--primaryBackground);
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background: white;
    padding: 1em;

    nav{
        display: none;
    }

    .logo {
        text-decoration: none;
        font-weight: bold;
        color: var(--secondaryColor);
        font-size: 1.7em;

        span{
            color: var(--primaryColor);
        }
    }
    
    .container{
        display: flex;
        place-content: space-between;
    }

    .mobileMenu {
        cursor: pointer;
        height: auto;
        width: 25px;
    }
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    color: var(--linkColor);
}

nav.menuBtn{
    display: block;
}

nav {
    position: fixed;
    z-index: 9999;
    width: 66%;
    right: 0;
    top: 0;
    background: var(--secondaryBackground);
    height: 100vh;
    padding: 1em;

    .mobileMenuX{
        height: auto;
        width: 25px;
        float: right;
        cursor: pointer;
        margin: .5em;
    }

    ul.primaryNav{
        margin-top: 2.5em;
    }

    li {
        a {
            color:var(--linkColor);
            text-decoration: none;
            display: block;
            padding: .5em;
            font-size: 1.5em;
            text-align: right;
            
            &:hover {
                background: var(--thirdBackgroundColor);
                border-radius: 5px;
                color: var(--primaryBackground);
            }
        }
    }
}

.mtgSection{
    padding: 1em;
    background: var(--secondaryColor);
    text-align: center;

    h1{
        color: var(--primaryColor);
        
    }

    h4{
        color: var(--primaryBackground);
        
    }

    .mtgCounter{
        margin: 0;
    }

    .title{
        display: flex;
        justify-content: center;
        
        .mtgSubtitle{
            margin: 0;
            color: var(--primaryBackground);
            margin-bottom: 1em;
            margin-left: 1.5em;
            align-self: flex-end;
        }

        .mtgTitle{
            margin: 0;
            margin-top: 1em;
            font-size: 2em;
        }
    }

    .mtgss{
        height: 900px;
        width: auto;
        margin: 0;
        align-self: center;
        margin-top: 2em;
    }

    .mtgDescriptionBigScreen{
        display: none;
    }

    .mtgDescriptionMobile{
        text-align: left;
    }

}

.givealotterSection{
    .givealotterContainer{
        background-color: var(--primaryBackground);
        height: 1000px;
    }
}

.plantIrrigatorSection{
    background: var(--primaryColor);
    height: 1000px;
}

@media only screen and (min-width: 1419px){
    .mtgSection{
        padding: 1em;
        background: var(--secondaryColor);

        .title{
            font-size: 1.5em;
        }

        .mtgDescriptionBigScreen{
            font-size: 1.5em;
        }
    
        .mtgss{
            height: 900px;
            width: auto;
            margin-left: 2em;
            margin-right: 5em;
            margin-top: .8em;
            margin-bottom: .8em;
        }

        .mtgText{
            margin-top: 10em;
        }
    }
}

@media only screen and (min-width: 980px) {

    .mobileMenu, .mobileMenuX {
        display:none;
    }

    .navbar.container{
        display: grid;
        grid-template-columns: 180px auto;
        justify-content: unset;
    }

    .navbar nav{
        display: flex;
        justify-content: space-between;
        background: none;
        height: auto;
        position: unset;
        width: 100%;
        padding: 0;

        ul {
            display: flex;
        }

        a {
            color: var(--secondaryColor);
            font-size: 1.5em;
            padding: .1em 1em;
            
            &:hover{
                background: none;
                color: var(--secondaryColor);
                font-weight: bold;
            }
        }

        ul.primaryNav {
            margin: 0;
        }

        li.current a {
            font-weight: bold;
        }
    }

    .mtgSection{
        padding: 1em;
        background: var(--secondaryColor);
        text-align: left;

    
        .mtgCounter{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }
    
        .title{
            display: flex;
            justify-content: center;
            
            .mtgSubtitle{
                margin: 0;
                color: var(--primaryBackground);
                margin-bottom: 1em;
                margin-left: 1.5em;
            }
    
            .mtgTitle{
                margin: 0;
                margin-top: 1em;
                font-size: 3em;
            }

        }
    
        .mtgss{
            height: 900px;
            width: auto;
            margin: 0;
            margin-top: 2em;
        }
    
        .mtgDescriptionBigScreen{
            display: block;
        }
    
        .mtgDescriptionMobile{
            display: none;
        }
    
    }

}