@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
:root {
  --primaryColor: #ffaa22;
  --secondaryColor: #2c2c2c;
  --primaryBackground: #f2f2f2;
  --secondaryBackground: #fdc752;
  --thirdBackgroundColor: #6e4b00;
  --thirdColor: #116800;
  --linkColor: rgb(61, 28, 0);
  --liSpacing: 2em;
}

body {
  background: var(--primaryBackground);
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.navbar {
  background: white;
  padding: 1em;
}

.navbar nav {
  display: none;
}

.navbar .logo {
  text-decoration: none;
  font-weight: bold;
  color: var(--secondaryColor);
  font-size: 1.7em;
}

.navbar .logo span {
  color: var(--primaryColor);
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.navbar .mobileMenu {
  cursor: pointer;
  height: auto;
  width: 25px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--linkColor);
}

nav.menuBtn {
  display: block;
}

nav {
  position: fixed;
  z-index: 9999;
  width: 66%;
  right: 0;
  top: 0;
  background: var(--secondaryBackground);
  height: 100vh;
  padding: 1em;
}

nav .mobileMenuX {
  height: auto;
  width: 25px;
  float: right;
  cursor: pointer;
  margin: .5em;
}

nav ul.primaryNav {
  margin-top: 2.5em;
}

nav li a {
  color: var(--linkColor);
  text-decoration: none;
  display: block;
  padding: .5em;
  font-size: 1.5em;
  text-align: right;
}

nav li a:hover {
  background: var(--thirdBackgroundColor);
  border-radius: 5px;
  color: var(--primaryBackground);
}

.mtgSection {
  padding: 1em;
  background: var(--secondaryColor);
  text-align: center;
}

.mtgSection h1 {
  color: var(--primaryColor);
}

.mtgSection h4 {
  color: var(--primaryBackground);
}

.mtgSection .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.mtgSection .description .gitlinkdesktop {
  display: none;
  color: var(--primaryColor);
  text-decoration: underline;
}

.mtgSection .descriptionmobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-flex-line-pack: center;
      align-content: center;
}

.mtgSection .descriptionmobile .gitlinkmobile {
  color: var(--primaryColor);
  text-decoration: underline;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-left: 0.3em;
}

.mtgSection .descriptionmobile .mtgDescriptionMobile {
  text-align: left;
}

.mtgSection .mtgCounter {
  margin: 0;
}

.mtgSection .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mtgSection .title .mtgTitle {
  margin: 0;
  margin-top: 1em;
  font-size: 2em;
}

.mtgSection .title .subtitleContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.mtgSection .title .subtitleContainer .mtgSubtitle {
  margin: 0;
  color: var(--primaryBackground);
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-left: .8em;
  margin-right: .6em;
}

.mtgSection .title .subtitleContainer .subtitleFluttericon {
  height: 20px;
  width: auto;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.mtgSection .mtgText {
  padding-bottom: 2em;
}

.mtgSection .mtgss {
  height: 900px;
  width: auto;
  margin: 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 2em;
}

.mtgSection .mtgDescriptionBigScreen {
  display: none;
}

.slideShowContainer {
  max-width: 400px;
  position: relative;
  margin: auto;
}

.slideShowContainer .mySlides1 {
  display: none;
}

.slideShowContainer .mySlides2 {
  display: none;
}

.slideShowContainer .prev, .slideShowContainer .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -80px;
  padding: 16px;
  padding-bottom: 50px;
  padding-top: 50px;
  color: var(--primaryColor);
  font-weight: bold;
  font-size: 22px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: rgba(200, 200, 200, 0.5);
}

.slideShowContainer .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.slideShowContainer .prev {
  left: 0;
}

.slideShowContainer .prev:hover, .slideShowContainer .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.slideShowContainer .dot1 {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.slideShowContainer .active, .slideShowContainer .dot1:hover {
  background-color: #717171;
}

.slideShowContainer .dot2 {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.slideShowContainer .active, .slideShowContainer .dot2:hover {
  background-color: #717171;
}

.slideShowContainer .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .8;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .8;
  }
  to {
    opacity: 1;
  }
}

.givealotterSection {
  background-color: var(--primaryBackground);
}

.givealotterSection .giveALotterTitleContainer {
  text-align: center;
  padding-bottom: 10px;
  background-color: rgba(65, 29, 0, 0.5);
}

.givealotterSection .giveALotterTitleContainer .descandlink {
  display: none;
}

.givealotterSection .giveALotterTitleContainer .title {
  padding: 1em;
  padding-bottom: 0;
  margin: 0;
  font-size: 2em;
  color: #895100;
  margin-bottom: 5px;
}

.givealotterSection .giveALotterTitleContainer .title span {
  color: #BFFFF1;
}

.givealotterSection .giveALotterTitleContainer .subtitleContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
}

.givealotterSection .giveALotterTitleContainer .subtitleContainer .subtitle {
  margin: 0;
  color: #BFFFF1;
  margin-top: 2px;
  font-size: .8em;
}

.givealotterSection .giveALotterTitleContainer .subtitleContainer .subtitleImage {
  height: 20px;
  width: auto;
  margin-left: 10px;
}

.givealotterSection .giveALotterTitleContainerBigScreen .title {
  display: none;
}

.givealotterSection .giveALotterTitleContainerBigScreen .subtitleContainer {
  display: none;
}

.givealotterSection .giveALotterTitleContainerBigScreen .descandlink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-flex-item-align: center;
      align-self: center;
}

.givealotterSection .giveALotterTitleContainerBigScreen .descandlink .gitlinkmobile {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-left: .3em;
  font-size: 1.3em;
}

.plantIrrigatorSection {
  background: var(--primaryColor);
  height: 1000px;
}

@media only screen and (min-width: 1419px) {
  .mtgSection {
    padding: 1em;
    background: var(--secondaryColor);
  }
  .mtgSection .description .gitlinkdesktop {
    font-size: 1.8em;
  }
  .mtgSection .title {
    font-size: 1.5em;
    padding-left: 2em;
  }
  .mtgSection .mtgDescriptionBigScreen {
    font-size: 1.5em;
    padding-left: 2em;
  }
  .givealotterSection .giveALotterTitleContainerBigScreen {
    padding-left: 100px;
    padding-right: 100px;
    font-size: 1.2em;
  }
  .givealotterSection .giveALotterTitleContainerBigScreen .descandlink .gitlinkmobile {
    font-size: 1.3em;
  }
}

@media only screen and (min-width: 1001px) {
  .mobileMenu, .mobileMenuX {
    display: none;
  }
  .navbar.container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 180px auto;
        grid-template-columns: 180px auto;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
  .navbar nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: none;
    height: auto;
    position: unset;
    width: 100%;
    padding: 0;
  }
  .navbar nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar nav a {
    color: var(--secondaryColor);
    font-size: 1.5em;
    padding: .1em 1em;
  }
  .navbar nav a:hover {
    background: none;
    color: var(--secondaryColor);
    font-weight: bold;
  }
  .navbar nav ul.primaryNav {
    margin: 0;
  }
  .navbar nav li.current a {
    font-weight: bold;
  }
  .mtgSection {
    padding: 1em;
    background: var(--secondaryColor);
    text-align: left;
  }
  .mtgSection .gitlinkmobile {
    display: none;
  }
  .mtgSection .description .gitlinkdesktop {
    display: block;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding-left: .3em;
  }
  .mtgSection .mtgCounter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .mtgSection .mtgText {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mtgSection .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mtgSection .title .mtgSubtitle {
    margin: 0;
    color: var(--primaryBackground);
    margin-bottom: 1em;
    margin-left: 1.5em;
  }
  .mtgSection .title .mtgTitle {
    margin: 0;
    margin-top: 1em;
    font-size: 3em;
  }
  .mtgSection .mtgss {
    height: 900px;
    width: auto;
    margin: 0;
    margin-top: 2em;
  }
  .mtgSection .mtgDescriptionBigScreen {
    display: block;
  }
  .mtgSection .mtgDescriptionMobile {
    display: none;
  }
  .givealotterSection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .givealotterSection .giveALotterTitleContainer {
    display: none;
  }
  .givealotterSection .slideShowContainer {
    padding-top: .5em;
  }
  .givealotterSection .giveALotterTitleContainerBigScreen {
    text-align: center;
    padding-bottom: 10px;
    background-color: rgba(65, 29, 0, 0.5);
    width: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .givealotterSection .giveALotterTitleContainerBigScreen .title {
    padding: 1em;
    padding-bottom: 0;
    margin: 0;
    font-size: 3em;
    color: #895100;
    margin-bottom: 5px;
    display: block;
  }
  .givealotterSection .giveALotterTitleContainerBigScreen .title span {
    color: #BFFFF1;
  }
  .givealotterSection .giveALotterTitleContainerBigScreen .subtitleContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
  }
  .givealotterSection .giveALotterTitleContainerBigScreen .subtitleContainer .subtitle {
    margin: 0;
    color: #BFFFF1;
    font-size: 1.5em;
  }
  .givealotterSection .giveALotterTitleContainerBigScreen .subtitleContainer .subtitleImage {
    height: 30px;
    width: auto;
    margin-left: 10px;
  }
}
/*# sourceMappingURL=hobbies.css.map */