@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    --primaryColor: #ffaa22;
    --secondaryColor: #2c2c2c;
    --primaryBackground: #f2f2f2;
    --secondaryBackground: #fdc752;
    --thirdBackgroundColor: #6e4b00;
    --thirdColor: #116800;
    --linkColor: rgb(61, 28, 0);
    --liSpacing: 2em;
}

body{
    background: var(--primaryBackground);
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background: white;
    padding: 1em;

    nav{
        display: none;
    }

    .logo {
        text-decoration: none;
        font-weight: bold;
        color: var(--secondaryColor);
        font-size: 1.7em;

        span{
            color: var(--primaryColor);
        }
    }
    
    .container{
        display: flex;
        place-content: space-between;
    }

    .mobileMenu {
        cursor: pointer;
        height: auto;
        width: 25px;
    }
}

a {
    color: var(--linkColor);
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

section{
    padding: 3em 2em;
}

.hero{
    text-align: center;
    padding: .5em;

    .heroText{
        font-weight: bold;
        color: var(--secondaryColor);
        text-transform: uppercase; 
    
        h1{
            letter-spacing: .3em;
            font-size: 2.5em;
            margin: .7em 0;

            span{
                color: var(--primaryColor);
            }
        }
        
        p{
            text-transform: lowercase;
            color: var(--primaryColor);
            span{
                text-transform: uppercase;
                color: #e48100;
            }
        }
    }

    .heroImg{
        height: auto;
        width: 95%;
        border-left: 2px solid var(--secondaryBackground);
        border-top: 2px solid var(--secondaryBackground);
        border-right: 2px solid var(--secondaryColor);
        border-bottom: 2px solid var(--secondaryColor);
        
    }
}

.description{
    background: var(--secondaryBackground);

    .descTitle{
        text-transform: uppercase;
        color: var(--secondaryColor);
        letter-spacing: .3em;
        font-size: 1em;
        margin-bottom: 1.5em;
    }
    .descText{
        font-size: .9em;
        font-weight: 300;
    }

}

nav.menuBtn{
    display: block;
}

nav {
    position: fixed;
    z-index: 9999;
    width: 66%;
    right: 0;
    top: 0;
    background: var(--secondaryBackground);
    height: 100vh;
    padding: 1em;

    .mobileMenuX{
        height: auto;
        width: 25px;
        float: right;
        cursor: pointer;
        margin: .5em;
    }

    ul.primaryNav{
        margin-top: 2.5em;
    }

    li {
        a {
            color:var(--linkColor);
            text-decoration: none;
            display: block;
            padding: .5em;
            font-size: 1.5em;
            text-align: right;
            
            &:hover {
                background: var(--thirdBackgroundColor);
                border-radius: 5px;
                color: var(--primaryBackground);
            }
        }
    }
}

.skills{

    .skillsAside{
        display: none;
    }
    .skillsTitle{
        text-decoration: none;
        color: var(--primaryColor);
        letter-spacing: .3em;
        text-transform: uppercase;
        text-align: center;
        font-size: 1.8em;
    }

    ul{
        margin: 0;
        li{
            font-size: 1.55em;
            margin-bottom: .1em;
            position: relative;
        }
    }

    .container{
        display: flex;
        justify-content: space-evenly;
    }

    .softwareCol{
        .softSkillsHeader{

            display: flex;

            .softTitle{
                color: var(--secondaryColor);
                letter-spacing: .1em;
                text-transform: uppercase;
            }

            .codeIcon{
                width: 30px;
                height: auto;
                margin-left: .5em;
            }
        }
        
    }

    .separator{
        border-left: 1px solid var(--primaryColor);
        height: auto;

    }

    .hardwareCol{
        .hardSkillsHeader{

            display: flex;

            .hardTitle{
                color: var(--secondaryColor);
                letter-spacing: .1em;
                text-transform: uppercase;
            }

            .hardIcon{
                width: 30px;
                height: auto;
                margin-left: .5em;
            }
        }
        
    }
}

.projects{
    background: var(--secondaryBackground);
    padding: 0;

    a{
        color: var(--secondaryColor);
        text-decoration: none;
        font-weight: bold;
        font-size: 1em;
        align-self: center;
    }

    .container{
        display: flex;
    }

    .projectsList{
        flex-grow: 9;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
        align-content: center;
        padding: 1em;

        .listitem{
            display: flex;
            justify-content: center;
            margin-top: .5em;
        }

        .listicon{
            width: 30px;
            height: auto;
            margin-left: 1em;
        }
    }

    .projectsTitle{
        flex-grow: 1;
        margin: 0;
        text-transform: uppercase;
        letter-spacing: .3em;
        align-self: center;
        margin-left: 2em;
    }

}

.footer{
    padding: 25px;
    background:var(--secondaryColor);
    
    h1{
        color: white;
        font-size: .8em;
        font-weight: normal;
        text-align: center;
    }
}

@media only screen and (min-width: 980px) {

    .mobileMenu, .mobileMenuX {
        display:none;
    }
    
    .navbar.container{
        display: grid;
        grid-template-columns: 180px auto;
        justify-content: unset;
    }

    .navbar nav{
        display: flex;
        justify-content: space-between;
        background: none;
        height: auto;
        position: unset;
        width: 100%;
        padding: 0;

        ul {
            display: flex;
        }

        a {
            color: var(--secondaryColor);
            font-size: 1.5em;
            padding: .1em 1em;
            
            &:hover{
                background: none;
                color: var(--secondaryColor);
                font-weight: bold;
            }
        }

        ul.primaryNav {
            margin: 0;
        }

        li.current a {
            font-weight: bold;
        }
    }

    .container{
        width: 1080;
        margin: 0 auto;

        section{
            padding: 10em 4em;
        }
    }

    .hero .container{
        display: flex;
        flex-direction: column;
        text-align: left;

        .heroText{
            z-index: 80;
            font-size: 1.5em;
            display: flex;

            p{
               margin: 0;
               padding-top: 3.2em;
               padding-left: .2em;
        
            }
        }

        .heroImg{
            width: 100%;
            height: 500px;
            object-fit: cover;
            object-position: 20% 50%;
        }
    }

    .projects{
        a{
            font-size: 1.5em;
        }
    }

}

@media only screen and (min-width: 1350px){
    .hero .container{
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: space-between;

        .heroText{
            font-size: 2em;
            margin-bottom: 0;
            margin-right: -10em;
            display: block;
        }

        .heroImg{
            width: 120%;
            margin-top: 10em;
        }
    }

    .skills{
        position: relative;
        
        .containerSkillsTitle{
           
            position: absolute;
            transform-origin: 0 0;
            transform: rotate(-90deg);
            background: var(--secondaryColor);
            left: 0;
            margin-top: 23em;
            padding-left: 1em;

            .skillsTitle{
                font-size: 5.1em;
                margin: 0;
            }
        }
        
        .softSkillsHeader{
            font-size: 1.5em;
        }

        .hardSkillsHeader{
            font-size: 1.5em;
        }
       
    }

    .projects{
        a{
            font-size: 2em;
        }
    }

}